body {
  background: var(--appBackground);
  color: var(--fontColor) !important;
}

.App {
  text-align: center;
}

.container {
  max-width: 860px;
  min-height: 450px;
  background: white;
  margin: 50px auto;
}

.navbar {
  background-color: var(--headerBackground);
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.text-field {
  height: 30px;
  color: var(--fontColor) !important;
}
.text-field::placeholder {
  color: var(--blackUltraLight);
}

.text-field:focus {
  border: none;
  -moz-box-shadow: 0 0 1px #df0001;
  box-shadow: 0 0 1px #df0001 !important;
}
.btn-send {
  border: none;
  height: 30px;
  background: #4800ff;
  color: var(--whiteUltraDark);
  width: 120px;
  padding: 0 !important;
}
.btn-send:hover {
  color: var(--whiteUltraDark);
  font-weight: bold;
}
.btn-send:focus {
  box-shadow: 0 0 1px #df0001 !important;
}
.btn-send.selected {
  border: none;
}

.text-results {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
.content-list {
  margin: auto;
  max-width: 450px;
  text-align: start;
  padding-bottom: 50px;
}
.item-list {
  margin: 5px 0;
  border: solid 0.13rem var(--blackUltraLight);
  border-radius: 5px;
  padding: 5px 0 5px 5px;
  font-size: 12px;
}
.item-list:hover .item-deleted {
  visibility: visible;
  cursor: pointer;
}
.item-list:hover .item-deleted .item-deleted-pointer {
  border-radius: 50%;
  background: var(--appBackground);
  padding: 0px 4px;
}

.item-deleted {
  visibility: hidden;
}
@media screen and (min-width: 468px) {
  .text-field {
    min-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .text-field {
    min-width: 450px;
  }
}
