:root {
  --appBackground: #e5e5e5;
  --headerBackground: #df0001;
  --fontColor: rgba(0, 0, 0, 0.6);
  --blackUltraLight: #a3a1a3;
  --absoluteWhite: rgba(255, 255, 255, 1);
  --whiteUltraDark: rgba(215, 215, 215, 1);
}

body {
  margin: 0;
  font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif !important;
}
